@mixin h2-mobile {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 2.25em;
    color: #060A24;
    letter-spacing: 0;
}

@mixin h2-desktop {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 3em;
    color: #060A24;
    letter-spacing: 0;
}

@mixin p-mobile {
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 0.875em;
    color: #060A24;
    letter-spacing: 0;
    line-height: 1.375em;
    text-align: left;
    font-weight: 500;
}

@mixin p-desktop {
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 1em;
    color: #060A24;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: left;
    font-weight: 500;
}

.donde-venimos {
    .contenedor_donde{     /*section "de donde venimos"*/
        display: flex;
        flex-direction: column;
        justify-content: center;

        .phone {

            img {
                position: relative;
                margin-top: -30%;
                z-index: 10;
                width: 100vw;
                height: auto;
            }
        }

        .donde {
            padding: 0 5%;
            
            h2 {
                @include h2-mobile;
                padding-top: 10%;
                padding-bottom: 10%;
                padding-right: 10%;
            }

            .venimos {
                @include p-mobile;
                padding-bottom: 5%;
            }

        }
    }
    .contenedor-invitadas {     /*section "invitados/as"*/
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            @include h2-mobile;
            padding-top: 10%;
            padding-left: 5%;
            padding-bottom: 5%;
        }

        .invitadas {
            display: flex;
            flex-direction: column;

            img {
                width: 100vw;
                height: auto;
                padding: 0;
                margin: 0;
            }
        }
    }
    
    .contenedor-temas {     /*section "nuestros temas"*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 7vh;

        h2 {
            @include h2-mobile;
            padding: 10% 5% 0 5%
        }

        .temas-topicos {

            padding-top: 5%;

            .temas {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 8%;

                .epigrafe {
                    font-family: 'IBM Plex Sans', sans-serif;
                    font-weight: 600;
                    font-size: 1.4em;
                    color: #060A24;
                    letter-spacing: 0;
                    text-align: center;
                    padding: 0 5%;
                }
            }
        }
    }    
}

@media screen and (min-width: 768px) {
    .donde-venimos {
        box-sizing: border-box;
        width: 100vw;
    
        .contenedor_donde {         /*section "de donde venimos"*/
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding: 0 12vw;

            .phone {
                img {
                    height: 41.25em;
                    width: auto;
                    margin-top: -20%;
                }
            }

            .donde {
                padding: 10vh 0;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                .venimos {
                    width: 29em;
                    height: auto;
                    text-align: left;
                }

                h2 {
                    @include h2-desktop;
                    padding: 5vh 0;
                }

                p {
                   @include p-mobile;
                }
                
            }
        }
       
    
        .contenedor-invitadas {         /*section "invitados/as"*/
            box-sizing: border-box;
            padding: 0;
            
            h2 {
                @include h2-desktop;
                padding-left: 2.5em;
                padding-top: 7vh;
                padding-bottom: 7vh;
            }       
            
            .invitadas {
                box-sizing: border-box;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);

                img {
                    width: 33.3vw;
                    height: auto;
                }

            }
        }
        
        .contenedor-temas {         /*section "nuestros temas"*/
            box-sizing: border-box;

            h2 {
                @include h2-desktop;
                padding-left: 2.5em;
                padding-top: 7vh;
                padding-bottom: 7vh;
            }

            .temas-topicos {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                box-sizing: border-box;
                padding: 0 8em;

                .temas {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 2vw;

                    &:hover {
                        transform: scale(1.3);
                        -webkit-transform: scale(1.3);
                    }

                    img {
                        align-self: center;
                    }

                    .epigrafe {
                        font-size: 1.5em;
                        padding-top: 0.8em;
                        box-sizing: border-box;
                        align-self: center;
                    }
                }
            }
        }        
    }   
}