.donde-venimos {
    .contenedor_donde{
        display: flex;
        flex-direction: column;
        justify-content: center;

        .phone {

            img {
                position: relative;
                margin-top: -20%;
                z-index: 10;
                width: 100vw;
                height: 32em;
            }
        }

        .donde {
            padding: 0 5%;
            
            h2 {
                font-family: IBM Plex Sans;
                font-weight: 400;
                font-size: 36px;
                color: #060A24;
                letter-spacing: 0;
                line-height: 42px;
                padding-top: 10%;
                padding-bottom: 10%;
            }

             .venimos {
                font-family: IBM Plex Mono;
                font-size: 14px;
                color: #060A24;
                letter-spacing: 0;
                line-height: 22px;
                text-align: justify;
                font-weight: 500;
                padding-bottom: 5%;
            }

        }
    }

    .contenedor-invitadas {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            font-family: IBM Plex Sans;
            font-weight: 400;
            font-size: 36px;
            color: #060A24;
            letter-spacing: 0;
            line-height: 42px;
            padding-top: 10%;
            padding-left: 5%;
        }

        .invitadas {
            img {
                display: block;
                width: 100vw;
                height: auto;
            }
        }
    }
    
    .contenedor-temas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 7vh;

        h2 {
            font-family: IBM Plex Sans;
            font-weight: 400;
            font-size: 36px;
            color: #060A24;
            letter-spacing: 0;
            line-height: 42px;
            padding-top: 10%;
            padding-left: 5%;
        }

        .temas-topicos {

            padding-top: 5%;

            .temas {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 5%;

                .epigrafe {
                    font-family: IBM Plex Sans;
                    font-weight: 600;
                    font-size: 1.4em;
                    color: #060A24;
                    letter-spacing: 0;
                    text-align: center;
                }
        }

        }

    }    
}

@media screen and (min-width: 768px) {
    .donde-venimos {
        .contenedor_donde {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding-left: 12vw;
            padding-right: 18vw;
            box-sizing: border-box;

            .phone {
                img {
                    height: 41.25em;
                    width: auto;
                }
            }

            .donde {
                padding: 10vh 0;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                .venimos {
                    width: 29em;
                    height: auto;
                    text-align: left;

                    h2 {
                        font-size: 3em;
                        line-height: 3.875em;
                    }

                    p {
                        font-size-adjust: 1em;
                        line-height: 1.5em;
                    }
                }
            }
        }
       
    }

    
}