.footer {
    height: 20vh;
    padding-right: 14.4%;
    padding-left: 14.4%;
    box-sizing: border-box;

    .copyright {  
        p {
            box-sizing: border-box;
            font-family: IBM Plex Mono;
            font-size: 0.875em;
            color: #060A24;
            letter-spacing: 0;
            line-height: 1.2em;
            padding-top: 5vh;
            padding-bottom: 4vh;
            text-align: center;
        }
    }

    .socials {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        a {
            color: black;
        i {
            align-self: center;
            font-size: 1em;
            

            &:hover {
                color: #00F3BB;
            }

            &:active {
                color: #060A24;
            }
        }
    }
    }
    
}

@media screen and (min-width:768px) {
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 1em 4em;
        height: auto;
        width: 100vw;

        .copyright {
            // padding-left: 3em;
            p {
                font-size: 1em;
                justify-self: baseline;
                line-height: 1.75em;
            }
        }

        .socials {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 16.18em;
            align-items: center;

            a {
                i {
                    font-size: 1.125em;
                    line-height: 1.75em;
                    align-self: baseline;
                }
            }
        }

    }
    
}