.footer {
    height: 20vh;
    padding-right: 14vw;
    padding-left: 14vw;
    padding-bottom: 10%;
    box-sizing: border-box;

    .copyright {  
        p {
            box-sizing: border-box;
            font-family: 'IBM Plex Mono', sans-serif;
            font-size: 0.875em;
            color: #060A24;
            letter-spacing: 0;
            line-height: 1.2em;
            padding-top: 5vh;
            padding-bottom: 4vh;
            text-align: center;
        }
    }

    .socials {
        display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
        flex-direction: row;
        justify-content: space-between;

        a {
            color: black;
        i {
            align-self: center;
            font-size: 1em;
        }
    }
    }
    
}

@media screen and (min-width:768px) {
    .footer {
        display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
        flex-direction: row;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 1em 4em;
        height: auto;
        width: 100vw;

        .copyright {
            p {
                font-size: 1em;
                justify-self: baseline;
                line-height: 1.75em;
            }
        }

        .socials {
            display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
            display: -ms-flexbox;  /* TWEENER - IE 10 */
            display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
            display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
            flex-direction: row;
            justify-content: space-evenly;
            width: 16.18em;
            align-items: center;

            a {
                i {
                    font-size: 1.125em;
                    line-height: 1.75em;
                    align-self: baseline;

                    &:hover {
                        color: #00F3BB;
                    }
        
                    &:active {
                        color: #060A24;
                    }
                }
            }
        }

    }
    
}