.novedades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%); /*irregular shape or the background*/
    width: 100vw;
    height: auto;
    padding-top: 5vh;
    padding-bottom: 30%;
    box-sizing: border-box;

    .contenedor-novedades {
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;

        h2 {
            font-family: 'IBM Plex Sans', sans-serif;
            font-weight: 300;
            font-size: 2.25em;
            color: #FFFFFF;
            letter-spacing: 0;
            padding: 10%;
            text-align: center;
        }

        .escuchar {
            background: #00F3BB;
            box-sizing: border-box;
            border: 0;
            padding: 0.7em 1.2em;
            align-self: center;
            text-align: center;
           

            a {
                font-family: 'IBM Plex Mono', sans-serif;
                font-weight: 500;
                text-transform: uppercase;
                font-size: 1em;
                color: #060A24;
                text-align: center;
                letter-spacing: 0;

                &:link {
                    text-decoration: none; /*override link format*/
                    color: inherit;
                }

                &:active {
                    text-decoration: none; /*override link format*/
                    color: inherit;
                }
            }
           
        }
            

    }
}

@media screen and (min-width: 768px) {
    .novedades {
        display: flex;
        flex-direction: column;
        justify-content: center;
        clip-path: polygon(0 16%, 100% 0, 100% 100%, 0% 100%); /*irregular shape or the background*/
        box-sizing: border-box;
        padding: 15vh 0;
        width: 100vw;



        .contenedor-novedades {
            box-sizing: border-box;

            h2 {
                font-size: 3em;
                line-height: 4em;
                padding: 0;
                font-weight: 400;
            }

            .escuchar {
                width: 21.56em;
                height: auto;

                &:hover {
                    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
                }

                a {
                    font-size: 1.125em;
                    
                }
            }
        }
    }
}