@mixin p-mobile {
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 0.875em;
    color: #060A24;
    letter-spacing: 0;
    line-height: 1.375em;
    text-align: left;
    font-weight: 500;
}

@mixin p-desktop {
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 1em;
    color: #060A24;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: left;
    font-weight: 500;
}

.presentacion {
    box-sizing: border-box;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    flex-direction: column;
    width: 100vw;
    justify-items: flex-start;
    padding: 10% 5% 0 5%;

    .contenedor_pres {
        display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
        flex-direction: column;
        justify-items: flex-start;


        h1 {
            font-family: 'IBM Plex Sans', sans-serif;
            font-size: 2.25em;
            color: #060A24;
            font-weight: 400;
            width: 80%;

            .tachado {
                text-decoration: line-through;
            }
        }

        .descripcion {
            @include p-mobile;
            margin-top: 1em;

            .tecnologia {
                display: none;
            }

        }

        .conoce-mas {
            background: #00F3BB;
            box-sizing: border-box;
            border: 0;
            width: 90vw;
            height: 0.9%;
            padding: 3%;
            margin: 2em 5vw 1.5em 5vw;
            align-self: center;
            text-align: center;

            a {
                font-family: 'IBM Plex Mono', sans-serif;
                font-weight: 500;
                text-transform: uppercase;
                font-size: 1em;
                color: #060A24;
                letter-spacing: 0;
                text-align: center;
                line-height: 1.375em;

                    &:link {
                        text-decoration: none;
                        color: inherit;
                    }

                    &:active {
                        text-decoration: none;
                        color: inherit;
                    }
                   
                
            }

        }
    }
}

@media screen and (min-width:768px) {
    .presentacion {
        box-sizing: border-box;
        width: 100vw;

        .contenedor_pres {
            padding-top: 4vh;
            box-sizing: border-box;

            h1 {
                font-size: 4em;
                padding-left: 1em;

                .punto {
                    color: #0000EC;
                }
            }

            .descripcion {
                @include p-desktop;
                width: 50vw;
                height: 1.2%;
                padding-bottom: 3%;
                padding-left: 4em;

                .tecnologia {
                    display: inline;
                }
            }

            .conoce-mas {
                width: 14.125em;
                height: 1.4%;
                align-self: flex-start;
                padding: 1% 4%;
                box-sizing: border-box;
                font-size: 1.1em;
                margin: 2em 5vw 1.5em 6vw;

                &:hover {
                    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
                }

            }

        }
    }
}