.presentacion {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-items: flex-start;

    .contenedor_pres {
        display: flex;
        flex-direction: column;
        justify-items: flex-start;
        padding: 0 5%;


        h1 {
            font-family: IBM Plex Sans;
            font-size: 2.25em;
            color: #060A24;
            color: #060A24;
            font-weight: 400;
            width: 80%;
            // height: 1.6%;
            // // padding: 0 0.5%;

            .tachado {
                text-decoration: line-through;
            }
        }

        .descripcion {
            font-family: IBM Plex Mono;
            font-weight: 400;
            font-size: 0.875em;
            color: #060A24;
            // width: 90%;
            // height: 1.2%;
            margin-top: 1em;

            .tecnologia {
                display: none;
            }

        }

        .conoce-mas {
            margin-top: 1em;
            background: #00F3BB;
            box-sizing: border-box;
            border: 0;
            width: 90vw;
            height: 0.9%;
            padding: 3%;
            margin-top: 0.7vh 5vw 0.4vh 5vw;
            font-family: IBM Plex Mono;
            font-weight: 500;
            text-transform: uppercase;
            font-size: 1em;
            color: #060A24;
            letter-spacing: 0;
            text-align: center;
            line-height: 22px;
            align-self: center;

        }
    }
}

@media screen and (min-width:768px) {
    .presentacion {

        .contenedor_pres {
            padding-left: 10vw;
            padding-top: 5vh;

            h1 {
                font-size: 4em;

                .punto {
                    color: #0000EC;
                }
            }

            .descripcion {
                font-size: 1em;
                width: 50vw;
                height: 1.2%;

                .tecnologia {
                    display: inline;
                }
            }

            .conoce-mas {
                width: 15.7vw;
                height: 1.4%;
                align-self: flex-start;
                padding: 1% 4.1%;
                box-sizing: border-box;

                &:hover {
                    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
                }

            }

        }
    }
}